Repository it-at-m/stadtbezirksbudget, changes with the labels that .github/labeler.yml gives for each.
All labels: 🏗️ Backend, 🏗️ EAI, 🏗️ Frontend

.github/labeler.yml:

"✨ Enhancement":
  - head-branch: [ '^feat/' ]
"🐛 Bug":
  - head-branch: [ '^fix/' ]
"🛠️ Maintenance":
  - head-branch: [ '^chore/' ]
"📝 Documentation":
  - head-branch: [ '^docs/' ]
  - changed-files:
      - any-glob-to-any-file: [ 'docs/**' ]
"🔒️ Security":
  - head-branch: [ '^security/' ]
"🏗️ Backend":
  - changed-files:
      - any-glob-to-any-file: [ 'stadtbezirksbudget-backend/**' ]
"🏗️ EAI":
  - changed-files:
      - any-glob-to-any-file: [ 'stadtbezirksbudget-eai/**' ]
"🏗️ Frontend":
  - changed-files:
      - any-glob-to-any-file: [ 'stadtbezirksbudget-frontend/**' ]

:loud_sound: Use default logging
  stadtbezirksbudget-backend/src/main/java/de/muenchen/stadtbezirksbudget/kafka/KafkaConsumer.java
Labels: 🏗️ Backend

📝 Improve adr text
  docs/src/architecture/adr/13-use-consistent-code-language.md
Labels: none

📝 Improve decision text in adr
  docs/src/architecture/adr/13-use-consistent-code-language.md
Labels: none

:recycle: Split Kafka producer into service and controller
  stadtbezirksbudget-eai/src/main/java/de/muenchen/stadtbezirksbudget/kafka/KafkaProducerController.java
  stadtbezirksbudget-eai/src/main/java/de/muenchen/stadtbezirksbudget/kafka/KafkaProducerService.java
Labels: 🏗️ EAI

:recycle: Rename Kafka consumer to service
  stadtbezirksbudget-backend/src/main/java/de/muenchen/stadtbezirksbudget/kafka/KafkaConsumerService.java
Labels: 🏗️ Backend

:bulb: Comment Kafka classes
  stadtbezirksbudget-backend/src/main/java/de/muenchen/stadtbezirksbudget/kafka/KafkaConsumerService.java
  stadtbezirksbudget-eai/src/main/java/de/muenchen/stadtbezirksbudget/kafka/KafkaProducerController.java
  stadtbezirksbudget-eai/src/main/java/de/muenchen/stadtbezirksbudget/kafka/KafkaProducerService.java
Labels: 🏗️ Backend, 🏗️ EAI

:memo: Fix relation in data model
  docs/src/features/data-model.md
Labels: none

:white_check_mark: Test Kafka producer
  stadtbezirksbudget-eai/pom.xml
  stadtbezirksbudget-eai/src/test/java/de/muenchen/stadtbezirksbudget/kafka/KafkaProducerControllerTest.java
  stadtbezirksbudget-eai/src/test/java/de/muenchen/stadtbezirksbudget/kafka/KafkaProducerServiceTest.java
Labels: 🏗️ EAI

:white_check_mark: Test Kafka producer
  stadtbezirksbudget-backend/pom.xml
  stadtbezirksbudget-backend/src/test/java/de/muenchen/stadtbezirksbudget/kafka/KafkaConsumerServiceTest.java
  stadtbezirksbudget-backend/src/test/resources/application-test.yml
Labels: 🏗️ Backend

:truck: Move CIT-EAI to own package
  stadtbezirksbudget-cit-eai/Dockerfile
  stadtbezirksbudget-cit-eai/pom.xml
  stadtbezirksbudget-cit-eai/runLocal.bat
  stadtbezirksbudget-cit-eai/runLocal.sh
  stadtbezirksbudget-cit-eai/spotbugs-exclude-rules.xml
  stadtbezirksbudget-cit-eai/src/main/java/de/muenchen/stadtbezirksbudget/cit_eai/EaiRouteBuilder.java
  stadtbezirksbudget-cit-eai/src/main/java/de/muenchen/stadtbezirksbudget/cit_eai/StadtbezirksbudgetEAI.java
  stadtbezirksbudget-cit-eai/src/main/resources/META-INF/additional-spring-configuration-metadata.json
  stadtbezirksbudget-cit-eai/src/main/resources/application-local.yml
  stadtbezirksbudget-cit-eai/src/main/resources/application.yml
  stadtbezirksbudget-cit-eai/src/main/resources/banner.txt
  stadtbezirksbudget-cit-eai/src/main/resources/logback-spring.xml
  stadtbezirksbudget-cit-eai/src/test/java/de/muenchen/stadtbezirksbudget/cit_eai/EaiTest.java
  stadtbezirksbudget-cit-eai/src/test/java/de/muenchen/stadtbezirksbudget/cit_eai/TestConstants.java
  stadtbezirksbudget-cit-eai/src/test/java/de/muenchen/stadtbezirksbudget/cit_eai/configuration/LogbackJsonLoggingTest.java
  stadtbezirksbudget-cit-eai/src/test/resources/application-test.yml
Labels: none
