Repository it-at-m/stadtbezirksbudget, changes with the labels that .github/labeler.yml gives for each.
All labels: Template: Backend, Template: EAI, Template: Frontend, Template: Webcomponent

.github/labeler.yml:

"Type: Feature":
  - head-branch: [ '^feat', '-feature-' ]
"Type: Bug":
  - head-branch: [ '^bug', '-bug-' ]
"Type: Maintenance":
  - head-branch: [ '^maint', '-maintenance-' ]
"Type: Documentation":
  - head-branch: [ '^docs', '-documentation-' ]
  - changed-files:
    - any-glob-to-any-file: ['docs/**']
"Type: Dependency":
  - head-branch: [ '^dep', '-dependency-' ]
"Type: Security":
  - head-branch: [ '^sec', '-security-' ]
"Template: Backend":
  - changed-files:
    - any-glob-to-any-file: ['stadtbezirksbudget-backend/**']
"Template: EAI":
  - changed-files:
      - any-glob-to-any-file: ['stadtbezirksbudget-eai/**']
"Template: Frontend":
  - changed-files:
      - any-glob-to-any-file: ['stadtbezirksbudget-frontend/**']
"Template: Webcomponent":
  - changed-files:
      - any-glob-to-any-file: ['stadtbezirksbudget-webcomponent/**']

:recycle: Rename stack to stadtbezirksbudget
  stack/docker-compose.yml
Labels: none

:recycle: Rename webcomponent to stadtbezirksbudget
  stadtbezirksbudget-webcomponent/.env.development
  stadtbezirksbudget-webcomponent/.env.production
  stadtbezirksbudget-webcomponent/.npmrc
  stadtbezirksbudget-webcomponent/.prettierignore
  stadtbezirksbudget-webcomponent/.prettierrc.json
  stadtbezirksbudget-webcomponent/Dockerfile
  stadtbezirksbudget-webcomponent/declarations.d.ts
  stadtbezirksbudget-webcomponent/docker/nginx/compression.conf
  stadtbezirksbudget-webcomponent/docker/nginx/files.conf
  stadtbezirksbudget-webcomponent/docker/nginx/health.conf
  stadtbezirksbudget-webcomponent/docker/nginx/sbom.conf
  stadtbezirksbudget-webcomponent/env.d.ts
  stadtbezirksbudget-webcomponent/eslint.config.js
  stadtbezirksbudget-webcomponent/index.html
  stadtbezirksbudget-webcomponent/package-lock.json
  stadtbezirksbudget-webcomponent/package.json
  stadtbezirksbudget-webcomponent/processes/lib/fileGenerator.js
  stadtbezirksbudget-webcomponent/processes/lib/loader.js.template
  stadtbezirksbudget-webcomponent/processes/post-build.js
  stadtbezirksbudget-webcomponent/public/favicon.ico
  stadtbezirksbudget-webcomponent/src/refarch-hello-world-webcomponent.ce.vue
  stadtbezirksbudget-webcomponent/src/refarch-hello-world-webcomponent.ts
  stadtbezirksbudget-webcomponent/src/util/constants.ts
  stadtbezirksbudget-webcomponent/tests/unit/example.spec.ts
  stadtbezirksbudget-webcomponent/tsconfig.app.json
  stadtbezirksbudget-webcomponent/tsconfig.json
  stadtbezirksbudget-webcomponent/tsconfig.node.json
  stadtbezirksbudget-webcomponent/tsconfig.vitest.json
  stadtbezirksbudget-webcomponent/vite.config.ts
  stadtbezirksbudget-webcomponent/vitest.config.ts
Labels: Template: Webcomponent

:recycle: Rename EAI to stadtbezirksbudget
  stadtbezirksbudget-eai/Dockerfile
  stadtbezirksbudget-eai/pom.xml
  stadtbezirksbudget-eai/runLocal.bat
  stadtbezirksbudget-eai/runLocal.sh
  stadtbezirksbudget-eai/spotbugs-exclude-rules.xml
  stadtbezirksbudget-eai/src/main/java/de/muenchen/stadtbezirksbudget/EaiRouteBuilder.java
  stadtbezirksbudget-eai/src/main/java/de/muenchen/stadtbezirksbudget/StadtbezirksbudgetEAI.java
  stadtbezirksbudget-eai/src/main/resources/META-INF/additional-spring-configuration-metadata.json
  stadtbezirksbudget-eai/src/main/resources/application-local.yml
  stadtbezirksbudget-eai/src/main/resources/application.yml
  stadtbezirksbudget-eai/src/main/resources/banner.txt
  stadtbezirksbudget-eai/src/main/resources/logback-spring.xml
  stadtbezirksbudget-eai/src/test/java/de/muenchen/stadtbezirksbudget/EaiTest.java
  stadtbezirksbudget-eai/src/test/java/de/muenchen/stadtbezirksbudget/TestConstants.java
  stadtbezirksbudget-eai/src/test/java/de/muenchen/stadtbezirksbudget/configuration/LogbackJsonLoggingTest.java
  stadtbezirksbudget-eai/src/test/resources/application-test.yml
Labels: Template: EAI

:lock: Fix GHSA-52f5-9888-hmc6 vulnerability
  stadtbezirksbudget-webcomponent/package-lock.json
  stadtbezirksbudget-webcomponent/package.json
Labels: Template: Webcomponent

:recycle: Fix remaining de.muenchen.refarch references
  stadtbezirksbudget-backend/pom.xml
  stadtbezirksbudget-backend/src/main/resources/application-local.yml
  stadtbezirksbudget-eai/pom.xml
  stadtbezirksbudget-eai/src/main/resources/logback-spring.xml
  stadtbezirksbudget-eai/src/test/java/de/muenchen/stadtbezirksbudget/configuration/LogbackJsonLoggingTest.java
Labels: Template: Backend, Template: EAI
