Repository it-at-m/stadtbezirksbudget, changes with the labels that .github/labeler.yml gives for each.
All labels: 🏗️ Backend, 🏗️ EAI, 🏗️ Frontend

:wrench: Decrease version number to 0.0.0 to test release process
  stadtbezirksbudget-backend/pom.xml
  stadtbezirksbudget-eai/pom.xml
Labels: 🏗️ Backend, 🏗️ EAI

chore(stadtbezirksbudget-frontend): bump version to v0.0.1
  stadtbezirksbudget-frontend/package-lock.json
  stadtbezirksbudget-frontend/package.json
Labels: 🏗️ Frontend

[maven-release-plugin] prepare release stadtbezirksbudget-backend-0.0.0
  stadtbezirksbudget-backend/pom.xml
Labels: 🏗️ Backend

[maven-release-plugin] prepare for next development iteration
  stadtbezirksbudget-backend/pom.xml
Labels: 🏗️ Backend

👷 Add webcomponent to npm release workflow options
  .github/workflows/npm-release.yml
Labels: none

🔧 Set version numbers to 0.0.1
  stadtbezirksbudget-backend/pom.xml
  stadtbezirksbudget-eai/pom.xml
Labels: 🏗️ Backend, 🏗️ EAI

:wrench: Update renovate schedule to weekends
  .github/renovate.json5
Labels: none

:wrench: Update renovate timezone to Europe/Berlin
  .github/renovate.json5
Labels: none

:technologist: Update pull request template
  .github/pull_request_template.md
Labels: none

:speech_balloon: Update tests checklist text
  .github/pull_request_template.md
Labels: none

🔥 Remove local de translations
  stadtbezirksbudget-frontend/src/locales/de.json
  stadtbezirksbudget-frontend/src/plugins/i18n.ts
Labels: 🏗️ Frontend

:truck: Move docs content to src folder
  docs/.vitepress/config.mts
  docs/src/example.md
  docs/src/index.md
Labels: none

:speech_balloon: Replace refarch references with stadtbezirksbudget
  docs/.vitepress/config.mts
  docs/package.json
  docs/src/index.md
Labels: none

🔧 Remove i18n linter rules
  stadtbezirksbudget-frontend/eslint.config.js
Labels: 🏗️ Frontend

♻️ Refactor text
  stadtbezirksbudget-frontend/src/App.vue
  stadtbezirksbudget-frontend/src/components/common/YesNoDialog.vue
  stadtbezirksbudget-frontend/src/views/GetStartedView.vue
  stadtbezirksbudget-frontend/src/views/HomeView.vue
Labels: 🏗️ Frontend

♻️ Refactor text
  stadtbezirksbudget-frontend/src/App.vue
  stadtbezirksbudget-frontend/src/components/TheSnackbar.vue
  stadtbezirksbudget-frontend/src/components/common/YesNoDialog.vue
  stadtbezirksbudget-frontend/src/views/GetStartedView.vue
  stadtbezirksbudget-frontend/src/views/HomeView.vue
Labels: 🏗️ Frontend

🚨 Fix linter issues
  stadtbezirksbudget-frontend/src/App.vue
  stadtbezirksbudget-frontend/src/plugins/i18n.ts
  stadtbezirksbudget-frontend/src/views/GetStartedView.vue
  stadtbezirksbudget-frontend/src/views/HomeView.vue
Labels: 🏗️ Frontend

🔧 Update configs
  stadtbezirksbudget-frontend/eslint.config.js
  stadtbezirksbudget-frontend/src/plugins/i18n.ts
Labels: 🏗️ Frontend

:memo: Setup documentation structure
  docs/.vitepress/config.mts
  docs/src/about.md
  docs/src/architecture/index.md
  docs/src/development/database-migration.md
  docs/src/example.md
  docs/src/features/index.md
Labels: none

🔧 Update config to use different type
  stadtbezirksbudget-frontend/src/plugins/i18n.ts
Labels: 🏗️ Frontend

:memo: Add tools documentation
  docs/.vitepress/config.mts
  docs/src/development/tools.md
Labels: none

:art: Fix prettier format
  docs/src/architecture/index.md
  docs/src/development/database-migration.md
  docs/src/development/tools.md
  docs/src/features/index.md
Labels: none

:wrench: Update lockfile
  docs/package-lock.json
Labels: none

:memo: Add links to tools
  docs/src/development/tools.md
Labels: none

:memo: Improve vuetify label
  docs/src/development/tools.md
Labels: none

:memo: Update home page links
  docs/.vitepress/config.mts
  docs/src/index.md
Labels: none

:memo: Document conventions
  docs/.vitepress/config.mts
  docs/src/development/conventions.md
Labels: none

:art: Fix prettier format
  docs/src/development/conventions.md
Labels: none

:speech_balloon: Update commit message example
  docs/src/development/conventions.md
Labels: none

:building_construction: Add ADR-template, define intial set of ADRs.
  docs/src/architecture/adr/00-is-template.md
  docs/src/architecture/adr/01-use-immutable-variables.md
  docs/src/architecture/adr/02-no-hibernate-column.md
  docs/src/architecture/adr/03-use-test-file-suffix.md
  docs/src/architecture/adr/04-use-nested-class-name.md
  docs/src/architecture/adr/05-use-test-method-prefix.md
  docs/src/architecture/adr/06-use-data-test-attribute.md
  docs/src/architecture/adr/07-reduce-testing-of-mapping.md
Labels: none

:art: Fix format
  docs/src/architecture/adr/04-use-nested-class-name.md
  docs/src/architecture/adr/06-use-data-test-attribute.md
Labels: none

:memo: Add index.md in architecture/adr with links to adrs.
  docs/.vitepress/config.mts
  docs/src/architecture/adr/index.md
Labels: none

:memo: Refine adrs
  docs/src/architecture/adr/02-no-column-annotation.md
  docs/src/architecture/adr/03-use-test-file-suffix.md
  docs/src/architecture/adr/04-use-nested-class-name.md
  docs/src/architecture/adr/04-use-test-nested-class.md
  docs/src/architecture/adr/05-use-test-method-prefix.md
  docs/src/architecture/adr/06-use-data-test-attribute.md
  docs/src/architecture/adr/06-use-test-data-attribute.md
  docs/src/architecture/adr/index.md
Labels: none

:memo: Removed architecture-index.md and corresponding links.
  docs/.vitepress/config.mts
  docs/src/architecture/index.md
Labels: none

:building_construction: Add further ADRs
  docs/src/architecture/adr/08-define-dtos-as-records.md
  docs/src/architecture/adr/09-no-complex-frontend-components.md
  docs/src/architecture/adr/10-send-api-error-message.md
  docs/src/architecture/adr/index.md
Labels: none

:memo: Add short introduction text.
  docs/src/architecture/adr/index.md
Labels: none

:speech_balloon: Improve and unify adr texts
  docs/src/architecture/adr/00-is-template.md
  docs/src/architecture/adr/01-use-immutable-variables.md
  docs/src/architecture/adr/02-no-column-annotation.md
  docs/src/architecture/adr/03-use-test-file-suffix.md
  docs/src/architecture/adr/04-use-test-nested-class.md
  docs/src/architecture/adr/05-use-test-method-prefix.md
  docs/src/architecture/adr/06-use-test-data-attribute.md
  docs/src/architecture/adr/07-reduce-testing-of-mapping.md
  docs/src/architecture/adr/08-define-dtos-as-records.md
  docs/src/architecture/adr/09-no-complex-frontend-components.md
  docs/src/architecture/adr/10-send-api-error-message.md
  docs/src/architecture/adr/index.md
Labels: none

:memo: Improve adr navigation
  docs/.vitepress/config.mts
  docs/src/architecture/adr.md
Labels: none

:speech_balloon: Further improve adr texts
  docs/src/architecture/adr/01-use-immutable-variables.md
  docs/src/architecture/adr/02-no-column-annotation.md
  docs/src/architecture/adr/05-use-test-method-prefix.md
  docs/src/architecture/adr/06-use-test-data-attribute.md
  docs/src/architecture/adr/10-send-api-error-message.md
Labels: none

:wrench: Update issue-templates and config
  .github/ISSUE_TEMPLATE/1-bug-report.yml
  .github/ISSUE_TEMPLATE/2-feature-request.yml
  .github/ISSUE_TEMPLATE/3-maintenance-work.yml
  .github/ISSUE_TEMPLATE/4-documentation-change.yml
  .github/ISSUE_TEMPLATE/config.yml
Labels: none

.github/labeler.yml:

"✨ Enhancement":
  - head-branch: [ '^feat/' ]
"🐛 Bug":
  - head-branch: [ '^fix/' ]
"🛠️ Maintenance":
  - head-branch: [ '^chore/' ]
"📝 Documentation":
  - head-branch: [ '^docs/' ]
  - changed-files:
      - any-glob-to-any-file: [ 'docs/**' ]
"🔒️ Security":
  - head-branch: [ '^security/' ]
"🏗️ Backend":
  - changed-files:
      - any-glob-to-any-file: [ 'stadtbezirksbudget-backend/**' ]
"🏗️ EAI":
  - changed-files:
      - any-glob-to-any-file: [ 'stadtbezirksbudget-eai/**' ]
"🏗️ Frontend":
  - changed-files:
      - any-glob-to-any-file: [ 'stadtbezirksbudget-frontend/**' ]
