Repository it-at-m/stadtbezirksbudget, changes with the labels that .github/labeler.yml gives for each.
All labels: 🏗️ Backend, 🏗️ EAI, 🏗️ Frontend

.github/labeler.yml:

"✨ Enhancement":
  - head-branch: [ '^feat/' ]
"🐛 Bug":
  - head-branch: [ '^fix/' ]
"🛠️ Maintenance":
  - head-branch: [ '^chore/' ]
"📝 Documentation":
  - head-branch: [ '^docs/' ]
  - changed-files:
      - any-glob-to-any-file: [ 'docs/**' ]
"🔒️ Security":
  - head-branch: [ '^security/' ]
"🏗️ Backend":
  - changed-files:
      - any-glob-to-any-file: [ 'stadtbezirksbudget-backend/**' ]
"🏗️ EAI":
  - changed-files:
      - any-glob-to-any-file: [ 'stadtbezirksbudget-eai/**' ]
"🏗️ Frontend":
  - changed-files:
      - any-glob-to-any-file: [ 'stadtbezirksbudget-frontend/**' ]

:wrench: Update issue-template: DoR, DoD, types
  .github/ISSUE_TEMPLATE/1-bug-report.yml
  .github/ISSUE_TEMPLATE/2-feature-request.yml
  .github/ISSUE_TEMPLATE/3-maintenance-work.yml
  .github/ISSUE_TEMPLATE/4-documentation-change.yml
Labels: none

:building_construction: Add more adrs
  docs/src/architecture/adr/11-use-directory-structure.md
  docs/src/architecture/adr/12-use-comments.md
Labels: none

:speech_balloon: Refine directory structure and commenting guidelines in ADRs
  docs/src/architecture/adr/11-use-directory-structure.md
  docs/src/architecture/adr/12-use-comments.md
Labels: none

:speech_balloon: Update DoD and DoR to German language
  .github/ISSUE_TEMPLATE/1-bug-report.yml
  .github/ISSUE_TEMPLATE/2-feature-request.yml
  .github/ISSUE_TEMPLATE/3-maintenance-work.yml
  .github/ISSUE_TEMPLATE/4-documentation-change.yml
Labels: none

:recycle: Reorder template
  .github/ISSUE_TEMPLATE/1-bug-report.yml
Labels: none

:speech_balloon: Add 'other' option to category selection
  .github/ISSUE_TEMPLATE/1-bug-report.yml
  .github/ISSUE_TEMPLATE/2-feature-request.yml
  .github/ISSUE_TEMPLATE/3-maintenance-work.yml
  .github/ISSUE_TEMPLATE/4-documentation-change.yml
Labels: none

:memo: Add links to new adrs
  docs/.vitepress/config.mts
  docs/src/architecture/adr.md
Labels: none

:bug: Fix dead links
  docs/src/architecture/adr/00-is-template.md
Labels: none

:bug: Fix empty links
  docs/src/architecture/adr/00-is-template.md
Labels: none

:memo: Clarify use comments adr
  docs/src/architecture/adr/11-use-directory-structure.md
  docs/src/architecture/adr/12-use-comments.md
Labels: none

:speech_balloon: Improve adr context
  docs/src/architecture/adr/12-use-comments.md
Labels: none

:memo: Update directory structure adr decision
  docs/src/architecture/adr/11-use-directory-structure.md
Labels: none

:wrench: Edit issue-template text
  .github/ISSUE_TEMPLATE/1-bug-report.yml
  .github/ISSUE_TEMPLATE/2-feature-request.yml
  .github/ISSUE_TEMPLATE/3-maintenance-work.yml
  .github/ISSUE_TEMPLATE/4-documentation-change.yml
Labels: none

:alembic: Try kafka communication
  stack/docker-compose.yml
  stadtbezirksbudget-backend/pom.xml
  stadtbezirksbudget-backend/src/main/java/de/muenchen/stadtbezirksbudget/StadtbezirksbudgetBackend.java
  stadtbezirksbudget-backend/src/main/java/de/muenchen/stadtbezirksbudget/backend/kafka/KafkaConsumer.java
  stadtbezirksbudget-backend/src/main/resources/application-local.yml
  stadtbezirksbudget-eai/pom.xml
  stadtbezirksbudget-eai/src/main/java/de/muenchen/stadtbezirksbudget/eai/kafka/KafkaProducerController.java
  stadtbezirksbudget-eai/src/main/resources/application-local.yml
Labels: 🏗️ Backend, 🏗️ EAI

:pushpin: Use pinned docker versions
  stack/docker-compose.yml
Labels: none

:pushpin: Set spring-kafka versions
  stadtbezirksbudget-backend/pom.xml
  stadtbezirksbudget-eai/pom.xml
Labels: 🏗️ Backend, 🏗️ EAI

:technologist: Add kafka-ui and init-kafka
  stack/appswitcher-server/application.yml
  stack/docker-compose.yml
  stadtbezirksbudget-backend/src/main/resources/application-local.yml
  stadtbezirksbudget-eai/src/main/resources/application-local.yml
Labels: 🏗️ Backend, 🏗️ EAI

:alembic: Remove throwing test exception
  stadtbezirksbudget-backend/src/main/java/de/muenchen/stadtbezirksbudget/backend/kafka/KafkaConsumer.java
Labels: 🏗️ Backend

:sparkles: Add local Minio
  stack/docker-compose.yml
  stack/minio/.gitignore
Labels: none

:sparkles: Add S3 integration
  stadtbezirksbudget-backend/pom.xml
  stadtbezirksbudget-backend/src/main/java/de/muenchen/stadtbezirksbudget/backend/s3/S3Config.java
  stadtbezirksbudget-backend/src/main/resources/application-local.yml
  stadtbezirksbudget-eai/pom.xml
  stadtbezirksbudget-eai/src/main/java/de/muenchen/stadtbezirksbudget/eai/s3/S3Config.java
  stadtbezirksbudget-eai/src/main/resources/application-local.yml
Labels: 🏗️ Backend, 🏗️ EAI

:alembic: Add test S3 usage
  stadtbezirksbudget-backend/src/main/java/de/muenchen/stadtbezirksbudget/backend/s3/S3Controller.java
  stadtbezirksbudget-backend/src/main/java/de/muenchen/stadtbezirksbudget/backend/s3/S3Service.java
  stadtbezirksbudget-eai/src/main/java/de/muenchen/stadtbezirksbudget/eai/s3/S3Controller.java
  stadtbezirksbudget-eai/src/main/java/de/muenchen/stadtbezirksbudget/eai/s3/S3Service.java
Labels: 🏗️ Backend, 🏗️ EAI

:pushpin: Pin minio/mc
  stack/docker-compose.yml
Labels: none

:technologist: Add minio web ui to appswitcher
  stack/appswitcher-server/application.yml
Labels: none

:heavy_plus_sign: Switch kafka dependency
  stadtbezirksbudget-backend/pom.xml
  stadtbezirksbudget-eai/pom.xml
Labels: 🏗️ Backend, 🏗️ EAI

:memo: Define data model
  docs/src/features/datamodel.md
Labels: none

:memo: Add doc links
  docs/.vitepress/config.mts
  docs/src/features/data-model.md
Labels: none

:memo: remove comment
  docs/src/features/data-model.md
Labels: none

:sparkles: Add communication DTO in shared common module
  stadtbezirksbudget-backend/pom.xml
  stadtbezirksbudget-backend/src/main/java/de/muenchen/stadtbezirksbudget/kafka/KafkaConsumer.java
  stadtbezirksbudget-common/pom.xml
  stadtbezirksbudget-common/spotbugs-exclude-rules.xml
  stadtbezirksbudget-common/src/main/java/de/muenchen/stadtbezirksbudget/common/KafkaDTO.java
  stadtbezirksbudget-eai/src/main/java/de/muenchen/stadtbezirksbudget/kafka/KafkaProducerController.java
Labels: 🏗️ Backend, 🏗️ EAI

:construction_worker: Build commons in CI
  .github/workflows/maven-node-build.yml
Labels: none

:technologist: Create entities from data model
  stadtbezirksbudget-backend/src/main/java/de/muenchen/stadtbezirksbudget/antrag/Adresse.java
  stadtbezirksbudget-backend/src/main/java/de/muenchen/stadtbezirksbudget/antrag/Antrag.java
  stadtbezirksbudget-backend/src/main/java/de/muenchen/stadtbezirksbudget/antrag/Antragsteller.java
  stadtbezirksbudget-backend/src/main/java/de/muenchen/stadtbezirksbudget/antrag/Bankverbindung.java
  stadtbezirksbudget-backend/src/main/java/de/muenchen/stadtbezirksbudget/antrag/Finanzierung.java
  stadtbezirksbudget-backend/src/main/java/de/muenchen/stadtbezirksbudget/antrag/Finanzierungsmittel.java
  stadtbezirksbudget-backend/src/main/java/de/muenchen/stadtbezirksbudget/antrag/Kategorie.java
  stadtbezirksbudget-backend/src/main/java/de/muenchen/stadtbezirksbudget/antrag/Mitglied.java
  stadtbezirksbudget-backend/src/main/java/de/muenchen/stadtbezirksbudget/antrag/Projekt.java
  stadtbezirksbudget-backend/src/main/java/de/muenchen/stadtbezirksbudget/antrag/Rechtsform.java
  stadtbezirksbudget-backend/src/main/java/de/muenchen/stadtbezirksbudget/antrag/Vertretungsberechtigter.java
  stadtbezirksbudget-backend/src/main/java/de/muenchen/stadtbezirksbudget/antrag/VoraussichtlicheAusgabe.java
Labels: 🏗️ Backend

:memo: Small data model (documentation) change
  docs/src/features/data-model.md
Labels: none

:construction: Add database schema
  stadtbezirksbudget-backend/src/main/resources/db/migration/schema/V002__Antrag_schema.sql
Labels: 🏗️ Backend

:bug: Fix database error
  stadtbezirksbudget-backend/src/main/java/de/muenchen/stadtbezirksbudget/theentity/dto/TheEntityMapper.java
Labels: 🏗️ Backend

📝Add adr for code language consistency
  docs/src/architecture/adr/13-use-consistent-code-language.md
Labels: none

:bug: Fix kafka object serialization
  stack/docker-compose.yml
  stadtbezirksbudget-backend/src/main/java/de/muenchen/stadtbezirksbudget/kafka/KafkaConsumer.java
  stadtbezirksbudget-backend/src/main/resources/application-local.yml
  stadtbezirksbudget-eai/src/main/resources/application-local.yml
Labels: 🏗️ Backend, 🏗️ EAI

:memo: Fix adr typo
  docs/.vitepress/config.mts
  docs/src/architecture/adr.md
Labels: none

:memo: Fix format
  docs/.vitepress/config.mts
Labels: none

📝 Fix code format
  docs/src/architecture/adr/13-use-consistent-code-language.md
Labels: none

📝 Add link to new adr
  docs/src/architecture/adr.md
Labels: none

:sparkles: Use unique kafka key
  stadtbezirksbudget-backend/src/main/java/de/muenchen/stadtbezirksbudget/kafka/KafkaConsumer.java
  stadtbezirksbudget-common/src/main/java/de/muenchen/stadtbezirksbudget/common/KafkaDTO.java
  stadtbezirksbudget-eai/src/main/java/de/muenchen/stadtbezirksbudget/kafka/KafkaProducerController.java
Labels: 🏗️ Backend, 🏗️ EAI
